@font-face {
    font-family: 'Heebo-Regular';
    src: url('Heebo-Regular.woff') format('woff'),
         url('Heebo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }